@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}
body{
    background-color: hsl(0, 5%, 92%);
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-top: 20px;
}
nav a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
nav a:hover{
    color: hsl(0, 0%, 8%);
    
}
nav .left{
    display: flex;
    gap: 40px;
}
nav .left .logo{
    display: flex;
    align-items: center;
}
nav .left .links{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .right{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .right button{
    padding: 12px;
    font-weight: 500;
    border: 2px solid hsl(0, 0%, 8%);
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    border-radius: 15px;
    cursor: pointer;
}
nav .right button:hover{
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}
main{
    display: flex;
    justify-content: center;
}
main .all{
    display: flex;
    justify-content: space-between;
    width: 1260px;
}
main .all section h1{
    font-size: 80px;
    margin-top: 136px;
    margin-bottom: 50px;
}
main .all section p{
    color: hsl(0, 0%, 41%);
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.5;
}
main .all section button{
    padding: 15px 20px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-bottom: 60px;
}
main .all section button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
}
main .all section .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
aside img{
    min-width: 500px;
    max-height: 570px;
    margin-top: 30px;
}
.featopen{
    background-color: hsl(0, 0%, 98%);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 70px;
    top: 9%;
}
.featopen .todo{
    margin-bottom: 5px;
}
.featopen .calen{
    margin-bottom: 5px;
}
.featopen .remain{
    margin-bottom: 5px;
}
.compopen{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 9%;
    background-color: hsl(0, 0%, 98%);
    padding: 15px;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.only{
    display: none;
    cursor: pointer;
}
.none{
    display: none;
}
.none2{
    display: none;
}
.menu{
    background-color: rgb(255, 255, 255);
    width: 70%;
    position: absolute;
    top: 0px;
    left: 30%;
    height: 200%;
    padding: 20px;
    font-size: 20px;
    color: hsl(0, 0%, 41%);
    display: none;
}
.menu .close{
   text-align: end;
   cursor: pointer;
   margin-bottom: 30px;
}
.menu .close img{
    width: 40px;
}
.menu .mee{
    padding-left: 10px;
}
.menu .one span{
    margin-right: 14px;
    cursor: pointer;
}
.menu .one .you{
    margin-bottom: 20px;
}
.menu .one .oneshow{
    margin-left: 50px;
}
.menu .one .oneshow .todo1{
    margin-bottom: 20px;
}
.menu .one .oneshow .calen1{
    margin-bottom: 20px;
}
.menu .one .oneshow .remain1{
    margin-bottom: 20px;
}
.menu .two span{
    margin-right: 14px;
    cursor: pointer;
}
.menu .two .they{
    margin-bottom: 20px;
    margin-top: 15px;
}
.menu .two .twoshow{
    margin-left: 50px;
}
.menu .two .twoshow .mm{
    margin-bottom: 20px;
}
.menu .two .twoshow .mp{
    margin-bottom: 20px;
}
.menu .aa{
    margin-bottom: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.menu .bb{
    margin-bottom: 30px;
    cursor: pointer;
}
.menu .btns{
    text-align: center;
}
.menu .btns p{
    margin-bottom: 15px;
    cursor: pointer;
}
.menu .btns button{
    padding: 12px;
    font-weight: 500;
    border: 2px solid hsl(0, 0%, 8%);
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}
.menu .btns button:hover{
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}
@media screen and (max-width:850px) {
    nav .links .feat{
        display: none;
    }
    nav .links  .comp{
        display: none;
    }
    nav .links .cares{
        display: none;
    }
    nav .links .ab{
        display: none;
    }
    nav .right{
        display: none;
    }
    nav .only{
        display: block;
        width: 70px;
    }
    nav .logo img{
        width: 100px;
    }
    main .all{
        display: flex;
        flex-direction: column-reverse;
    }
    main .all img{
        width: 100%;
    }
    main .all section{
        text-align: center;
    }
    main .all section .icons{
        justify-content: center;
        width: 100%;
    }
}